# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
.DS_Store
node_modules
.sass-cache
*.sublime-*
*.map
/composer.lock
vendor/.git
/assets/js/src/admin/.jscs.json
/assets/js/src/site/.jscs.json

phpdoc-cache-*

._.DS_Store
