{% include 'head.twig' %}
	<body class="{{body_class}}" data-source="base.twig">
		<!--[if lt IE 7]><div class="alert">'You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.'</div><![endif]-->

		{# Header #}
		{% include 'header.twig' %}

		<div class="wrap clearfix" role="document">
			<div class="content">
				{# Content #}
				<div class="main {{main_class}}" role="main">
					{% block content %}
					{# Loads template content #}
					{% endblock %}
				</div><!-- /.main -->

				{# Sidebar #}
				{% include 'sidebar.twig' %}
			</div><!-- /.content -->
		</div><!-- /.wrap -->

		{% include 'footer.twig' %}
	</body>
</html>