{% include 'head.twig' %}
	<body class="{{body_class}}" data-source="base.twig">
		<!--[if lt IE 7]><div class="alert">'You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.'</div><![endif]-->

		{# Header #}
		{% include 'header.twig' %}

		<div class="wrap clearfix" role="document">
			<div class="content">
				{% if mdg_display_sidebar %}
				<div class="container">
					<div class="row">
				{% endif %}
						{# Content #}
						<div class="main {{main_class}}" role="main">
							{% include 'page-header.twig' %}
							{% block content %}
							{# Loads template content #}
							{% endblock %}
						</div><!-- /.main -->

						{# Sidebar #}
						{% include 'sidebar.twig' %}
				{% if mdg_display_sidebar %}
					</div> {# /.row #}
				</div> {# /.container #}
				{% endif %}
			</div><!-- /.content -->
		</div><!-- /.wrap -->

		{% include 'footer.twig' %}
	</body>
</html>