<footer class="content-info container clear" role="contentinfo">
	<div class="col-lg-12">
		<div class="row">
			<p>&copy; {{"now"|date('Y')}} {{blog_name}}</p>
		</div> {# /.row #}
	</div> {# /.col-lg-12 #}
</footer>

<div title = 'Back to Top' class = 'page-top-link back-to-top'><a href = '#'>Return to top</a></div>

{{wp_footer}}