.stub-css3pie-test {
	border: 1px solid #696;
	padding: 60px 0;
	text-align: center; width: 200px;

	@include border-radius( 25px );
	@include box-shadow( #666 0px 2px 3px );

	background: #EEFF99;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#EEFF99), to(#66EE33));
	background: -webkit-linear-gradient(#EEFF99, #66EE33);
	background: -moz-linear-gradient(#EEFF99, #66EE33);
	background: -ms-linear-gradient(#EEFF99, #66EE33);
	background: -o-linear-gradient(#EEFF99, #66EE33);
	background: linear-gradient(#EEFF99, #66EE33);
	-pie-background: linear-gradient(#EEFF99, #66EE33);
}

.test {
	background-image: url('/wp-content/themes/mdg-base-2/assets/img/220x220.png');
	width: 220px;
	height: 220px;
}