// ===============================================
// 404 Template
// ===============================================
.error-404 {
	text-align: center;
	font-size: 14px;

	.big-404 {
		font-size: 120px;
		font-weight: bold;
		color: $color4;
		line-height: 80px;
		margin-top: 80px;

		@include bp-min-max-sm {
			font-size: 80px;
			line-height: 60px;
		} // @include bp-min-max-sm

		@include bp-screen-xs {
			font-size: 40px;
			line-height: 40px;
		} // @include bp-screen-xs
	} // .big-404

	.big-error {
		font-size: 30px;
		color: $color4;
	} // .big-error

	.message {
		color: $color1;
		font-weight: bold;
		font-size: 20px;
		line-height: 25px;
		margin-top: 40px;
	} // .message

	#searchform {
		float: none;
		margin: 30px 0;

		label { display: none; }

		#searchsubmit {
			background: $color2;
			color: $color1;
			border: none;
			padding: 5px 10px;
			margin-top: -10px;
		} // #searchsubmit
	} // #searchform
} // .error-404