// ===============================================
// 404 Template
// ===============================================
.error-404 {
	text-align: center;
	font-size: 14px;

	.big-404 {

		@include bp-min-max-sm {
			font-size: 80px;
			line-height: 60px;
		}

		@include bp-screen-xxs {
			font-size: 40px;
			line-height: 40px;
		}
		margin-top: 80px;
		color: $color4;
		font-weight: bold;
		font-size: 120px;
		line-height: 80px;
	} // .big-404

	.big-error {
		color: $color4;
		font-size: 30px;
	} // .big-error

	.message {
		margin-top: 40px;
		color: $color1;
		font-weight: bold;
		font-size: 20px;
		line-height: 25px;
	} // .message

	#searchform {
		float: none;
		margin: 30px 0;

		label { display: none; }

		#searchsubmit {
			margin-top: -10px;
			padding: 5px 10px;
			border: 0;
			background: $color2;
			color: $color1;
		}
	}
} // .error-404