// General
.faux-link { cursor: pointer; }

.cl,
.clear {
	clear: both;
} // .cl, .clear

.affix-elem {
	width: 100%;
	&.affix {
		top: 0;
		z-index: 99999999;
	} // &.affix
} // .product-navigation

// ====================================
// DefaultColor Background Variables
// ====================================
.default-bg-1 { background-color: $color1; } // black
.default-bg-2 { background-color: $color2; } // white
.default-bg-3 { background-color: $color3; } // medium grey
.default-bg-4 { background-color: $color4; } // light grey

// ====================================
// Default Font Color Variables
// ====================================
.default-font-color-1 { color: $color1; } // black
.default-font-color-2 { color: $color2; } // white
.default-font-color-3 { color: $color3; } // medium grey
.default-font-color-4 { color: $color4; } // light grey

// ====================================
// Theme Color Background Variables
// ====================================
.theme-bg-1 { background-color: $theme1; } // Theme color one (Change my comment)
.theme-bg-2 { background-color: $theme2; } // Theme color one (Change my comment)

// ====================================
// Theme Font Color Variables
// ====================================
.theme-font-color-1 { color: $theme1; } // Theme color one (Change my comment)
.theme-font-color-2 { color: $theme2; } // Theme color one (Change my comment)

// ====================================
// Theme Font Family Variables
// ====================================
.font-serif { font-family: $font-serif; }
.font-sans { font-family: $font-sans; }

// ====================================
// Theme Font Size Variables
// ====================================
.font-small { font-size: $small; }
.font-med { font-size: $med; }
.font-large { font-size: $large; }
.font-xlarge { font-size: $xlarge; }

// ====================================
// Hide Screen Size Utilities
// ====================================
// Hide Large screen / wide desktop
.hide-lg {
	display: block;
	@include bp-min($screen-lg) { display: none; }
} // .hide-lg

// Hide Medium screen / desktop
.hide-md {
	display: block;
	@include bp-max($screen-md) { display: none; }
} // .hide-md

// Hide Small screen / tablet
.hide-sm {
	display: block;
	@include bp-max($screen-sm) { display: none; }
} // .hide-sm

// Hide Extra small screen / phone
.hide-xs {
	display: block;
	@include bp-max($screen-xs-max) { display: none; }
} // .hide-xs

// ====================================
// Show Screen Size Utilities
// ====================================
// Show Large screen / wide desktop
.show-lg {
	display: none;
	@include bp-min($screen-lg) { display: block; }
} // .show-lg

// Show Medium screen / desktop
.show-md {
	display: none;
	@include bp-max($screen-md) { display: block; }
} // .show-md

// Show Small screen / tablet
.show-sm {
	display: none;
	@include bp-max($screen-sm) { display: block; }
} // .show-sm

// Show Extra small screen / phone
.show-xs {
	display: none;
	@include bp-max($screen-xs-max) { display: block; }
} // .show-xs