// ===============================================
// IE Specific
// ===============================================
$old-ie: false !default;

// ===============================================
// Fonts
// ===============================================
$font-main: $font-family-base;       // **Change in bootstrap overrides**
$font-sans: $font-family-sans-serif; // **Change in bootstrap overrides**
$font-sans-bold: bold;               // Does this font support bold? If not change this to the font weight ex: 700.
$font-serif: $font-family-serif;     // **Change in bootstrap overrides**
$font-serif-bold: bold;              // Does this font support bold? If not change this to the font weight ex: 700.

// ===============================================
// Font Sizes
// ===============================================
$small: 14px;
$med: 16px;
$large: 32px;
$xlarge: 42px;

// ===============================================
// Default Colors
// ===============================================
$color1: #000; // black
$color2: #fff; // white
$color3: #666; // medium grey
$color4: #ccc; // light grey

// ===============================================
// Social Services Colors
// ===============================================
$fb-blue: #3b5998;
$tw-blue: #00aced;
$yt-red: #b00;

// ===============================================
// Theme Colors
// ===============================================
$theme1: $brand-primary; // **Change in bootstrap overrides**
$theme2: #000; // Change this and add more theme colors