// ===============================================
// After Title Meta
// ===============================================
.mdg-after-title {
	label {
		display: none;
	} // label
} // .mdg-after-title

.after-title-placeholder {
	position: relative;
	margin-bottom: 10px;

	label {
		position: absolute;
		left: 8px;
		top: 3px;
		font-size: 1.5em;
		line-height: 100%;
		height: 1.5em;
		color: #777;
		margin: 0;
	} // label

	&.empty {
		label {
			display: block;
		} // label
	} // &.empty

	input {
		padding: 3px 8px;
		font-size: 1.5em;
		line-height: 100%;
		height: 1.5em;
		width: 100%;
		outline: 0;
		margin: 0;
		background-color: #fff;
	} // input
} // .after-title-placeholder